@font-face {
	font-family: Oswald;
	src: url('https://fonts.googleapis.com/css?family=Oswald');
}
body {
	max-width: 100%;
	height: auto;
	width: auto\9;
	background-image: url("http://i.imgur.com/zxmSRGc.jpg");
	background-size: cover;
	background-position: ;
	background-repeat: no-repeat;
}
#frm{
	border: solid gray 1px;
	width: 20%;
	border-radius: 5px;
	margin: 100px auto; 
	background: white;
	padding: 50px; 

}
#btn{ 
	color: #ffff;
	background: #337ab7;
	padding: 5px;
	margin-left: 69%; 
